auto-install-peers = true
# necessary for a PNPM bug: https://github.com/pnpm/pnpm/issues/5152#issuecomment-1223449173
strict-peer-dependencies = false

https://cpdz904.na1.hubspotlinks.com/Ctc/2L+113/cPDz904/MVHX5W__RNVW6_XRcp3PPVpjW2qd3df5bSnw_N6Q02qY5nXHsW50kH_H6lZ3nHW4zC2BF1_vBshW8Y-K185nh9TPW2570dr5491VJVtbrw74zzNH4W5ytwNg2m3sHWW8T_8J-3qx1DWW4K6zpT1sp2HyN1CYj4snyNZRN5K1D5ycS5VVVbMSxd2pPcpjW14lFFy8VSlVYVHJr0l52P7JhW88cSjd1B2vmpW4VswBM17LFx_W6kvwQ6298JQXW74M3Gm8ys6XtW7NWnsm6NSlSVVPQhbc9cKRZtW2FGg3l3l4PyyW5vnngK1WD4L-W79l9qw87J1TCW48nqg32jFZ0JW3CHK7s3j74ZCVqhxNN8xP83fW42WZd04bRMdKW4dw9Bg7rLqF6W18bwHV2dvKYRN95Lh5bZ40scW1_8TfF1B5xWGW772hJ47k2cXfW62xZ9c2-nsHTW5pMJlb8S1F9Qf8TMmZY04



eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4YmE0OWI1Ni1mZWI3LTRkNzEtOWQ2Ni01ZDgyNDQyNjNiYjAiLCJpYXQiOjE3MTA4Mzk5NzEsIm5iZiI6MTcxMDgzOTk2Nywic2NvcGUiOiJyYXNhOnBybyByYXNhOnBybzpjaGFtcGlvbiIsImV4cCI6MTgwNTQ0Nzk2NywiZW1haWwiOiJ4MTc2MS5od0BnbWFpbC5jb20iLCJjb21wYW55IjoiUmFzYSBDaGFtcGlvbnMifQ.ZrkwWEBwFyeKgPbSgEYdh0SYnnIlPKsuB9kMZA6zF6VzMZde926wKJ8uYM-759dyjFFXE_4wHsISOe26MfC19D9yWA44zOTAxX2J_ixwC_JZQFI4SGfwaz7BK0hRWi1mgJ46FoaqMzt-jC71uiVmr0WzfqqVRNpEsHGWFrNS7SmKFHTthtSrXGwK2EJTIFS6g2rHH2ocX7yRQDkwaCTYs_9Y_HoLd_CS3kdh0lSC1oRIHLVXJWbs86WA7mw8SFn3rrUkzyo4DZ9dTLtV4K0o4LD5xd2cXjsg347tgmLVNPFasCAEZIV3T9rh6KtON3nKygf7mVbFGaF4_FZpgemjeA